<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página não encontrada</title>
</head>

<body>
  <h1>Erro 404 - Página não encontrada</h1>
  <p>A URL que você tentou acessar não existe.</p>
  <a href="/">Voltar para a página inicial</a>
  <p th:remove="all">Powered by <a href="https://www.thymeleaf.org" target="_blank">Thymeleaf</a></p>

  <div th:insert="~{fragments/footer :: powered}"></div>
</body>

</html>